{
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": false,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "useTabs": false,
    "quoteProps": "as-needed"
  }
  